.button {
  overflow: hidden;
  position: relative;
  border: none;
  border-radius: var(--border-radius);
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}

.containingIcon {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  background-color: rgba(0, 0, 0, .1);
  transform: translate(-50%, -50%) scale(0, 0);
  transition: transform .3s;
}
  
.button:hover::before{
  transform: translate(-50%, -50%) scale(1, 1);
}

.button:focus {
  outline: none;
}