@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

h1 {
  margin: 0;
}

i {
  font-size: 18px;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}
