#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: rgb(240, 240, 240);
  }
  
  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  #logo h1 {
    font-size: 28px;
    line-height: 50px;
  }
  
  #loginAlert {
    font-size: 18px;
    margin: 0 10px;
  }

  #actions {
    display: flex;
  }
  
  .signInButton {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #3b3bff;
    border-radius: 25px;
    color: white;
    font-size: 18px;
  }