#header {
  display: flex;
  justify-content:  space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(240, 240, 240);
}

#header > * {
  margin: 5px;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}

#logo > * {
  margin-right: 5px;
}

#logo img {
  height: 45px;
}

#logo h1 {
  font-size: 24px;
  line-height: 45px;
}

@media (max-width: 800px) {
  #logo h1 {
    display: none;
  }
}

#alert {
  text-align: center;
  font-size: 18px;
  margin: 0 10px;
}

@media (max-width: 550px) {
  #header {
    justify-content: center;
  }
}

#alert button {
  padding: 8px 12px;
  background-color: #3b3bff;
  color: white;
  font-size: 18px;
}

#actions {
  display: flex;
}