#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(240, 240, 240);
}

#header h1 {
  font-size: 28px;
}

#loginAlert {
  font-size: 18px;
  margin: 0 10px;
}

.signInButton {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #3b3bff;
  border-radius: 25px;
  color: white;
  font-size: 18px;
}

.headerButton {
  height: 50px;
  width: 50px;
}

.headerButton i {
  font-size: 18px;
}