#question {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#question > p {
    font-size: 20px;
    text-align: center;
}

#info {
    margin-top: 10px;
}

.infoItem {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: 18px;
    color: #444;
}