#question {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 280px;
    min-height: 120px;
    max-width: 100%;
}

#question > * {
    margin: 10px;
}

#question > p {
    font-size: 20px;
    text-align: center;
}

#options {
    margin: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#options button {
    margin: 4px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgb(180, 180, 180);
    color: white;
}

.infoItem {
    text-align: center;
    font-size: 18px;
    color: #444;
}