#question {
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 100%;
}

#question p {
    font-size: 20px;
    text-align: center;
    margin: 10px 10px 30px 10px;
}

#options {
    margin: -4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#options button {
    margin: 4px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgb(180, 180, 180);
    color: white;
}