#select {
    position: relative;
    margin: 0 10px;
}

#select button {
    font-size: 20px;
}

#list {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    border-radius: 20px;
    transition: background-color .3s, box-shadow .3s, transform .3s;
    z-index: 1;
    pointer-events: none;
}

#list.visible {
    pointer-events: all;
    background-color: white;
    box-shadow: 0 0 4px lightgray;
}

#list button {
    padding: 10px 15px;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s;
}

#list button.visible {
    pointer-events: all;
    opacity: 1;
}