.text {
    border: none;
    border-bottom: 1px solid black;
    padding: 4px 4px;
    font-size: 20px;
    transition: background-color .3s;
}

.text:focus {
    outline: none;
}

.validationError{
    background-color: #FFF0F0;
}