#container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -10px 0;
}

#container button {
    flex-shrink: 0;
    color: gray;
    margin: 0 10px;
}

.week {
    position: relative;
    box-shadow: 0 0 4px transparent;
    display: flex;
    padding: 10px 0;
    margin: 5px -10px;
    background-color: white;
    border-radius: 16px;
}

.week input {
    width: 100%;
}