#container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container button {
    color: gray;
    margin: 0 10px;
}

.week {
    display: flex;
    margin: 10px -10px;
}

.week input {
    width: 100%;
}